= form_for @wishlist do |f|
  = f.error_messages
  .row.moveDown
    = f.label :name, "Wishlist Name"
    .input
      = f.text_field :name

   
    .input.moveDown
      = f.submit :class=>'btn primary'
