.row.product
  .span2.prodImage
    =image_tag product.thumbnail_url, :width=>90
  .span6
    %h4=link_to product.name, product
    =product.short_description
  .span2.price
    %p= "Price: #{product.price}"
    -if user_signed_in? and !current_user.wishlists.empty?
      .add_to_wishlist
        %h5 Wishlist it!
        %ul.wishLists
          -current_user.wishlists.each do |wishlist|
            -if wishlist.products.include?(product)
              %li=link_to "#{wishlist.name}", wishlist_item_path(wishlist.find_item(product)),:method=>:delete, :class=>"remList", |
              :data=> {"original-title"=>"Remove #{product.name} from #{wishlist.name}"}
            -else
              %li=link_to "#{wishlist.name}", wishlist_add_path(wishlist.id,product.id),:class=>"addList", |
              :data=> {"original-title"=>"Add #{product.name} to #{wishlist.name}"}
            
